h1 {
  color: #3ebfbf;
  text-align: center;
  font-family: verdana;
}

h2 {
  color: #444444;
  text-align: center;
  font-family: verdana;
}

h3 {
  color: #3ebfbf;
  font-style: italic;
  font-family: verdana;
}

p {
  color: #6b6b6b;
  font-family: verdana;
  font-size: 18px;

}

ul {
  color: #6b6b6b;
  font-family: verdana;
  line-height: 30px;
}
ol {
  color: #6b6b6b;
  font-family: verdana;
  line-height: 30px;
}
